<div id="contact" class="w-1/2 mx-auto" fragment="contact">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci saepe illo praesentium expedita voluptas? Voluptas
    odit assumenda officia magni, totam eveniet nulla nesciunt iste et iure? Reiciendis consequatur ratione odio ex
    nihil iusto doloremque velit veritatis ea. Deserunt aspernatur nostrum deleniti magni dolor quidem quia similique
    amet praesentium. Quasi debitis rerum maiores eos modi rem reprehenderit! Deserunt obcaecati qui voluptas corporis
    quae vel, aliquam, omnis harum ratione excepturi, laborum in magni nostrum blanditiis quidem quam? Ipsa perferendis
    eveniet inventore molestiae commodi alias odio eaque ut, tenetur explicabo nulla distinctio consectetur blanditiis
    nam quam placeat hic, soluta qui excepturi exercitationem quos.
</div>