<div class="w-1/2 mx-auto py-3">
    Hi! I am Muhammad Salman, a Full Stack Web Developer. As a Full Stack Web Developer proficient in the MEAN/MERN
    stack, I have experience in developing end-to-end web
    applications from concept to deployment. With a solid understanding of both front-end and back-end development, I
    have
    the ability to create responsive and intuitive user interfaces, as well as design and implement robust server-side
    architecture. I am well-versed in using modern web development technologies, such as Angular, React, Node.js, and
    MongoDB, and have a strong understanding of fundamental web development concepts like RESTful APIs, MVC
    architecture,
    and database design. My experience in agile development and collaborative work environments has honed my ability to
    communicate effectively with team members and stakeholders, and to deliver quality code within tight deadlines.
</div>