<div class="w-1/2 mx-auto">
    <h3 class="text-center">EXPERIENCE</h3>
    <div class="experience">
        <div class="flex justify-between my-2">
            <span>
                Metadots | <span class="text-sm">Full Stack Web Developer</span>
            </span>
            <span>
                Internship (<span class="text-sm">August
                    2022
                    - October 2022</span>)
            </span>
        </div>
        <div class="description">
            <ul>
                <li>Worked on api development and testing using Postman, Nodejs</li>
                <li>Collaborated on developing an online voting system by writing backend api’s and implementing OAuth
                </li>
            </ul>
        </div>
    </div>
    <div class="experience">
        <div class="flex justify-between my-2">
            <span>
                Metadots | <span class="text-sm">Full Stack Web Developer</span>
            </span>
            <span>
                Part-time (<span class="text-sm">November
                    2022
                    - Present</span>)
            </span>
        </div>
        <div class="description">
            <ul>
                <li>Worked on different modules integrations and bug fixes of web 3 production-level projects</li>
                <li>Currently collaborating on developing an nft minting & staking dapp on binance smart chain</li>
            </ul>
        </div>
    </div>
</div>